:root {
  --secondary-color: rgb(83, 83, 83);
  --accent-color: rgb(11, 143, 143);
}

body {
  font-family: "Comfortaa", sans-serif;
}

main {
  max-width: 1400px;
  margin: 0 auto;
}

p {
  font-size: 1em;
  font-family: "Poppins", sans-serif;
}

header {
  margin-bottom: 3vh;
}

.portfolio-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
}

.portfolio-element {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.portfolio-element p {
  text-align: justify;
}

.portfolio-element ul {
  list-style-type: circle;
  padding-left: 1rem;
  font-size: 1.2rem;
}

.portfolio-element li:hover {
  transition: all 2s ease-in-out;
}

.portfolio-element p a {
  color: var(--secondary-color);
  font-size: 1.5em;
}

.portfolio-element p a:hover {
  color: var(--accent-color);
}

.body-content img {
  max-width: 100%;
  height: auto;
  border-radius: 13px;
}

/* Navigation styling*/

.name-logo {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 3em;
}

.name-logo-title {
  color: var(--accent-color);
  font-size: 2em;
  margin-bottom: 15px;
}

.main-navigation {
  display: block;
  margin-top: 20px;
  justify-content: space-between;
}

.main-navigation-links a {
  color: var(--secondary-color);
  text-decoration: none;
  font-size: 1.5em;
}

.main-navigation-links :hover {
  color: var(--accent-color);
  transition: all 1000ms ease-in;
}

.navigation-accent {
  color: var(--secondary-color);
}

/* Headers styling */

.headers {
  color: var(--accent-color);
  font-size: 2.5em;
  margin-bottom: 15px;
}

.headers-center {
  color: var(--accent-color);
  font-size: 4em;
  margin-bottom: 5rem;
  margin-top: 0;
  text-align: center;
}

.sub-headers {
  color: var(--secondary-color);
  font-size: 1.5em;
}

.placeholder {
  width: 100%;
  height: 400px;
  color: bisque;
  margin: 0 auto;
  border-radius: 10px;
}

footer {
  margin: 300px auto;
  display: block;
  justify-content: end;
  border-top: solid 1px rgba(128, 128, 128, 0.6);
  max-width: 1400px;
  width: 95%;
}

@media (max-width: 600px) {
  .portfolio-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2em;
  }
}
