:root {
  --secondary-color: grey;
  --accent-color: rgb(11, 143, 143);
}

body {
  font-family: "Comfortaa", sans-serif;
}

p {
  font-size: 1em;
  font-family: "Poppins", sans-serif;
}

.portfolio-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.main {
  max-width: 1200px;
  margin: 0 auto;
}

.main-navigation {
  display: block;
  margin-top: 20px;
  margin-bottom: 50px;
  justify-content: space-between;
}

.main-navigation-links {
  color: var(--secondary-color);
}

.main-navigation-links a {
  color: var(--secondary-color);
  text-decoration: none;
}

.main-navigation-links :hover {
  color: var(--accent-color);
}

.body-content img {
  max-width: 100%;
  height: auto;
  border-radius: 13px;
}

.name-logo {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 3em;
}

.headers {
  color: var(--accent-color);
  font-size: 2.5em;
  margin-bottom: 15px;
}

.sub-headers {
  color: var(--secondary-color);
  font-size: 1.5em;
}
.navigation-accent {
  color: var(--secondary-color);
}

footer {
  margin-top: 300px;
  margin-right: 20px;
  display: block;
  justify-content: end;
  border-top: solid 1px rgba(128, 128, 128, 0.6);
}
